<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="container" th:fragment="content">
  <div id="top-content">
    <div class="top-inner">
      <h4>[JAVA] 8주간 제대로 딥다이브 하는💦</h4>
      <h1 class="text-left">☁ 클라우드&백엔드</h1>
      <h1 class="text-right">부스트샷 부트캠프 🚀</h1>
      <button class="cta-btn">지원하기</button>
    </div>
    <!-- ↓ 이 부분을 top-inner 바깥에 둬야 함 -->
    <div class="info-blur">
      <div>✅ 간단한 게시판 서비스는 만들어봤지만<strong> 서비스를 완성해 본 적은 없다면?</strong></div>
      <div>✅ <strong>실제 클라우드에 배포해보고,</strong> 인프라를 직접 설계해 보고 싶다면?</div>
      <div>✅ 개발은 할 줄 아는데, <strong>실무 프로젝트 경험이 없어 자신이 없는다면?</strong></div>
      <div>✅ 무작정 기능만 구현하는 게 아니라, <strong>진짜 문제를 해결하는 힘</strong>을 기르고 싶다면?</div>
    </div>
  </div>

<!--  <div id="post-list">-->

<!--    <div class="post-card">-->
<!--      <div class="post-header">-->
<!--        <span class="home-wod-writer">aa</span> ·-->
<!--        <span class="home-wod-date">bb</span>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="post-image">-->
<!--        <img alt="사진" class="home-wod-photo" />-->
<!--      </div>-->
<!--      <div class="post-content">-->
<!--        ccc-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

</div>
</html>