<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="container" th:fragment="content">
  <div id="top-content">
    <div class="top-inner">
      <h4>[JAVA] 8주간 제대로 딥다이브 하는💦</h4>
      <h1 class="text-left">☁ 클라우드&백엔드</h1>
      <h1 class="text-right">부스트샷 부트캠프 🚀</h1>
      <button class="cta-btn">지원하기</button>
    </div>
    <!-- ↓ 이 부분을 top-inner 바깥에 둬야 함 -->
    <div class="info-blur">
      <div>✅ 게시판은 만들어봤지만<strong> 완성형 서비스는 처음이라면?</strong></div>
      <div>✅ <strong>클라우드에 직접 배포하고</strong> 인프라 설계를 해보고 싶다면?</div>
      <div>✅ 개발은 가능하지만 <strong>실전 프로젝트 경험이 없다면?</strong></div>
      <div>✅ 기능 구현이 아니라 <strong>진짜 문제 해결 역량</strong>을 키우고 싶다면?</div>
    </div>
  </div>

<!--  <div id="post-list">-->

<!--    <div class="post-card">-->
<!--      <div class="post-header">-->
<!--        <span class="home-wod-writer">aa</span> ·-->
<!--        <span class="home-wod-date">bb</span>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="post-image">-->
<!--        <img alt="사진" class="home-wod-photo" />-->
<!--      </div>-->
<!--      <div class="post-content">-->
<!--        ccc-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

</div>
</html>