/* 공통 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: none;     /* 스크롤바 안 보이게 */
    -ms-overflow-style: none;  /* IE, Edge 구버전 */
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-touch-callout: none; /* iOS 길게 눌러도 복사메뉴 안뜨게 */
}

body {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration:none;
    color:inherit;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.font-color-black {
    color: #262626;
}