/* 공통 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: none;     /* 스크롤바 안 보이게 */
    -ms-overflow-style: none;  /* IE, Edge 구버전 */
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}