.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    background: #212326;
}

/* 헤더 영역 */
.header {
    background:black;
    height: 40px;
    flex-shrink: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #262626;
    position: relative;
    align-items: center;  /* 수직 가운데 정렬 */
    justify-content: flex-start;  /* 좌측 정렬 */
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    height: 100%;
    padding-left: 12px;
}

.logo-img {
    height: 50px; /* 필요시 조절 */
}

.boostshot-logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(90deg, #6a00f4, #9d4edd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1px;
}

.boostshot-logo span {
    color: #F2F2F2; /* 밝은 gray or white 느낌 */
    background: none;
    -webkit-text-fill-color: initial;
}

#content {
    flex: 1;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /*padding-bottom: 61px; !* <-- 중요: bottom-nav 높이 + 여유 공간 *!*/
}

/********************************
 * 하단 네비게이션 바 (Coupang 스타일 유사)
 ********************************/
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 100%;
    background-color: #333236;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    z-index: 999;
}

.scroll-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 16px;
    background-color: #772B8C;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}
.scroll-to-top:hover {
    opacity: 1;
}
