<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- ✅ SNS 미리보기용 Open Graph -->
    <meta property="og:title" content="BOOSTSHOT | 클라우드 백엔드 부트캠프">
    <meta property="og:description" content="실무형 클라우드 백엔드 개발자 되기! 지금 바로 확인하세요.">
    <meta property="og:image" content="http://3.35.139.252:8080/images/boostshot.png">
    <meta property="og:url" content="http://3.35.139.252:8080">
    <meta property="og:type" content="website">

    <!-- ✅ Twitter 카드 미리보기 (선택) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="BOOSTSHOT | 클라우드 백엔드 부트캠프">
    <meta name="twitter:description" content="실무형 클라우드 백엔드 개발자 되기! 지금 바로 확인하세요.">
    <meta name="twitter:image" content="http://3.35.139.252:8080/images/boostshot.png">

    <title>BOOSTSHOT</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2">
    <!-- CDN으로 DOMPurify 추가 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=73bf595449941dca34dcc85d0297db12"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <!-- 헤더 -->
    <div class="header">
      <div class="header-inner">
<!--        <img class="logo-img" th:src="@{/images/himedia.png}" alt="logo">-->
        <span class="logo-text boostshot-logo">boost<span>shot</span></span>
      </div>
    </div>

    <!-- ① 콘텐츠 영역: page 변수에 따라 fragment include -->
    <div id="content">
      <div th:replace="~{fragments/home :: content}"></div>
    </div>

    <!-- ② 하단 네비 -->
<!--    <div class="bottom-nav">-->

<!--    </div>-->

    <button class="scroll-to-top" onclick="scrollToTop()">맨위로 ↑</button>
  </div>
</body>
</html>